body{background-color:#000;color:red;font-family:creepster,cursive}
body{background-color:#000;color:red;font-family:creepster,cursive}
#preloader{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;display:flex;justify-content:center;align-items:center;z-index:9999;animation:fadeOutPreloader 5s forwards}
.rocket{font-size:60px;animation:launchRocket 5s forwards}
@keyframes launchRocket{
0%{transform:translateY(0)}
70%{transform:translateY(-300px);opacity:1}
100%{transform:translateY(-500px);opacity:0}
}
@keyframes fadeOutPreloader{
to{opacity:0;visibility:hidden}
}
#content{display:none;animation:showContent 10s 10s forwards}
@keyframes showContent{
to{display:block}
}
.header_sec{border:2px solid #fff;border-radius:5px;width:80%;margin-left:auto;margin-right:auto}
.header_sec h1{font-size:28px;text-align:center;color:#fff;text-decoration:underline}
.header_sec h2{font-size:14px;text-align:center}
.redhr{color:red;width:40%;margin-left:auto;margin-right:auto}
.information_sec{text-align:center;border:2px #fff;border-radius:10px}
.info_container{display:grid;grid-template-columns:48% 48%;justify-content:center;grid-gap:4%;margin-left:auto;margin-right:auto;width:80%;margin-top:20px}
.info_about_box{grid-column:1;border:.2dvb solid #fff}
.info_main_box{grid-column:2;border:.2dvb solid #fff}
.table-responsive{width:50%;overflow-x:auto;margin-left:auto;margin-right:auto;border:2px solid #fff;border-radius:5px}
table{width:100%;border-collapse:collapse}
td,th{text-align:left;padding:8px;border-bottom:1px solid #ddd}
th{background-color:#f2f2f2}
.application form{background:#fff;padding:20px;border-radius:8px;box-shadow:0 0 10px rgba(0,0,0,.1);max-width:500px;margin:0 auto}
.application label{font-weight:700;display:block;margin-top:20px;color:#555}
input[type=email],input[type=number],input[type=text],textarea{width:100%;padding:10px;margin-top:5px;border:1px solid #ddd;border-radius:4px;box-sizing:border-box}
.application textarea{resize:vertical}
.application input[type=submit]{background-color:#5cb85c;color:#fff;padding:10px 20px;border:none;border-radius:4px;cursor:pointer;margin-top:20px}
.application input[type=submit]:hover{background-color:#4cae4c}
.images_section{padding-top:20px;margin-left:70px;margin-right:auto;width:80%}
.img_box1,.img_box2{margin-top:10px}
@media screen and (max-width:604px){
.images_section{margin-left:auto;width:10px}
.form-responsive,.table-responsive{width:100%}
}
body{background-color:#000;color:#fff;font-family:Creepster,cursive}
@font-face{font-family:Icomoon;src:url(/home/boi/Vef/VefThroun/fonts/icomoon.eot?uhsmln);src:url(/home/boi/Vef/VefThroun/fonts/icomoon.eot?uhsmln#iefix) format('embedded-opentype'),url(/home/boi/Vef/VefThroun/fonts/icomoon.ttf?uhsmln) format('truetype'),url(/home/boi/Vef/VefThroun/fonts/icomoon.woff?uhsmln) format('woff'),url(/home/boi/Vef/VefThroun/pages/icomoon.svg?uhsmln#icomoon) format('svg');font-weight:400;font-style:normal;font-display:block}
.icon-example{font-family:Icomoon;font-size:24px;color:#fff}
.headersec{border:1px solid #fff;border-radius:10px;width:67%;margin-left:auto;margin-right:auto;text-align:center;padding:10px}
.headersec h1{font-family:Creepster,cursive;font-size:50px;text-decoration:underline}
.navsec{width:67%;margin-left:auto;margin-right:auto;text-align:center;padding:10px;margin-top:10px}
.navsec a{font-family:Creepster,cursive;font-size:24px;color:#fff;text-align:space-between;margin:50px}
.navsec a:hover{color:red}
.navsec hr{border:2px solid #fff;width:50%;margin-left:auto;margin-right:auto}
.event-container{display:flex;flex-wrap:wrap;justify-content:center;width:100%;margin-left:auto;margin-right:auto;text-align:center;padding:10px;margin-top:10px}
.event-box1{width:20%;margin:10px;border:2px solid #fff}
.event-box1 p{font-family:roboto,cursive;font-size:16px;width:80%;margin-left:auto;margin-right:auto}
.event-mainbox{width:40%;margin:10px;border:2px solid #fff}
.event-mainbox h2{font-family:roboto,cursive;font-size:16px;width:80%;margin-left:auto;margin-right:auto}
.event-mainbox p{font-family:roboto,cursive;font-size:16px;width:80%;margin-left:auto;margin-right:auto}
.event-mainbox-header{text-align:center;text-decoration:underline 2px}
.event-mainbox-header img{border:2px solid #fff}
.grid-container-sponsored{display:grid;grid-template-columns:1fr 1fr;gap:20px}
.box-containers1{margin-top:30px;border:1px solid #fff;background-color:#4682b4;padding:20px}
.box-containers1 a{color:#fff}
.box-containers1 a:hover{color:red}
.box-containers2{margin-top:30px;border:1px solid #fff;background-color:#6c0ba9;padding:20px}
.box-containers2 a{color:#fff}
.box-containers2 a:hover{color:red}
.event-box2{width:20%;margin:10px;border:2px solid #fff}
.event-box2 p{font-family:roboto,cursive;font-size:16px;width:80%;margin-left:auto;margin-right:auto}
.menuitems{width:80%;margin-left:auto;margin-right:auto;text-align:center;border:1px solid #fff;border-radius:20px;padding:10px;margin-top:10px}
.restaurante{margin-top:20px;margin-left:auto;margin-right:auto}
.restaurante h2{color:red}
.restaurante img{margin-top:30px}
.modal{margin-left:0;margin-right:auto;display:none;position:fixed;width:50%;height:90%;margin:auto;z-index:1;left:0;right:50%;top:0;bottom:0;overflow:auto}
.modal-content{background:linear-gradient(to right,#000,red);margin:10% auto;padding:20px;border:1px solid #888;width:80%}
.modal-content input,.modal-content label{margin-bottom:10px}
.close{color:#fff;float:right;font-size:28px;font-weight:700}
.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer}
.slideshow{padding:0;margin:auto;justify-content:center;background-color:transparent;width:1200px}
.slideshow h1{margin-top:50px;margin-left:auto;margin-right:auto;font-size:60px;font-family:Karla,sans-serif;font-weight:lighter}
.slider-frame{overflow:hidden;height:800px;width:1200px;margin-left:auto;margin-right:auto;margin-top:20px}
@keyframes slide_animation{
0%{left:0}
16.66%{left:-1200px}
33.33%{left:-2400px}
50%{left:-2400px}
66.66%{left:-3600px}
83.33%{left:-3600px}
100%{left:0}
}
@-webkit-keyframes slide_animation{
0%{left:0}
16.66%{left:-1200px}
33.33%{left:-2400px}
50%{left:-2400px}
66.66%{left:-3600px}
83.33%{left:-3600px}
100%{left:0}
}
.slide-images{width:4800px;height:800px;margin:0 auto;position:relative;-webkit-animation-name:slide_animation;animation-name:slide_animation;-webkit-animation-duration:22s;animation-duration:50s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-direction:alternate;-webkit-animation-play-state:running;animation-play-state:running}
.img-container{height:400px;width:1200px;position:relative;float:left}
.footer{width:80%;margin-left:auto;margin-right:auto;text-align:center;border:2px solid #fff;padding:10px;margin-top:10px}
.footer-container{display:flex;justify-content:space-between}
.footer-box{flex:1;padding:20px;border:1px solid #fff;margin:10px}
@media (min-width:1200px){
.event-container,.footer,.headersec,.navsec{width:80%}
.event-box1,.event-box2{width:20%}
.event-mainbox{width:40%}
.grid-container{grid-template-columns:1fr 1fr}
.footer-container{display:flex;justify-content:space-between}
.footer-box{flex:1}
}
@media (min-width:768px) and (max-width:1024px){
.event-container,.footer,.headersec,.navsec{width:90%}
.event-box1,.event-box2,.event-mainbox{width:100%}
.grid-container{grid-template-columns:1fr}
.footer{width:80%}
.footer-container{border:transparent;width:100%}
.footer-box{border:2px solid #fff;margin-right:auto;margin-left:auto;width:40%}
}
@media (max-width:767px){
.headersec{width:80%;margin-left:auto;margin-right:auto}
.event-container,.footer,.navsec{width:100%}
.event-box1,.event-box2,.event-mainbox{width:100%}
.grid-container{grid-template-columns:1fr}
.footer-container{border:transparent;width:100%}
.footer-box{border:2px solid #fff;margin-right:auto;margin-left:auto;width:40%}
}
@media (max-width:575px){
.headersec{width:80%;margin-left:auto;margin-right:auto;border-color:transparent}
.event-container,.footer,.navsec{width:100%}
.event-box1,.event-box2,.event-mainbox{width:100%}
.grid-container{grid-template-columns:1fr}
.footer{width:85%;margin-left:auto;margin-right:auto}
.footer-container{display:flex;border:transparent;margin-left:auto;margin-right:auto}
.footer-box{flex:1;border:2px solid #fff;margin-right:auto;margin-left:auto;width:10%}
}
body{background-color:#000;color:#fff;font-family:Creepster,cursive}
.container-nav{position:fixed;top:0;left:50%;transform:translateX(-50%);width:80%;background-color:#800;z-index:10}
.navbar{display:flex;justify-content:space-between;padding:10px 20px}
.menu_icon div{background-color:#fff;height:2px;width:25px;margin:5px 0;transition:.4s}
.menu_items{display:none;flex-direction:column;align-items:flex-start;padding:20px;position:absolute;width:80%;top:100%;left:50%;transform:translateX(-50%);background-color:red}
.menu_items a{text-align:center;padding:10px 20px;text-decoration:none;color:#000;display:block}
.menu_items a:hover{background-color:#ddd}
.header_sec{width:80%;margin-left:auto;margin-right:auto}
.header_sec a{color:red;text-align:center;font-size:24px;text-decoration:underline}
.header_sec h1{color:red;text-align:center;font-size:24px;text-decoration:line-through}
.grid-container{display:grid;grid-template-columns:1fr 3fr 1fr;height:100vh;width:80%;margin:auto}
.left-sidebar,.right-sidebar{background:linear-gradient(to bottom,red,#800);padding:20px}
.main-content{background-image:url(/home/boi/Vef/VefThroun/images/meet_the_reaper.png);padding:20px}
.main-container{display:grid;grid-template-columns:1fr 1fr;gap:50px;margin:0 auto;max-width:800px}
.main-container div{padding:10px}
.main-container p{margin:0 0 10px 0;line-height:1.5}
.modal{display:none;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,.7)}
.modal-content{background-color:red;margin:15% auto;padding:20px;border:1px solid #888;width:80%;max-width:500px;text-align:center}
.close{color:#aaa;float:right;font-size:28px;font-weight:700}
.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer}
.container{display:flex;justify-content:center;align-items:center;height:120vh;flex-direction:column;text-align:center}
.accordion{max-width:800px}
.accordion-item{margin-bottom:20px;border:1px solid #ccc;border-radius:4px;overflow:hidden}
.accordion-header{padding:10px;cursor:pointer}
.accordion-content{padding:10px;display:none}
.accordion-item.active .accordion-content{display:block}
.coordinates,.timestamp{font-weight:700;color:#007bff}
.hidden-message{font-weight:700;color:red}
@media screen and (max-width:820){
.container{height:300px}
}
@media screen and (max-width:760px){
.grid-container,.header_sec,.main-content{width:90%}
.container{margin-top:65vh;max-height:block;margin-left:150px}
}
@media screen and (max-width:480px){
.navigation-toggle{display:flex;justify-content:space-between}
.toggle-button{cursor:pointer;padding:10px;background-color:#333;color:#fff}
.toggle-button:hover{background-color:#555}
.toggle-button:checked+.navigation-dropdown{display:flex}
.grid-container{grid-template-columns:1fr;width:100%}
.header_sec,.main-content{width:100%;padding:10px}
.header_sec a,.header_sec h1{font-size:20px}
.navigation_sec a{font-size:14px}
.container{margin-top:132vh;max-height:block}
}
@media screen and (max-width:320px){
.navigation-toggle{display:flex;justify-content:space-between}
.toggle-button{cursor:pointer;padding:10px;background-color:#333;color:#fff}
.toggle-button:hover{background-color:#555}
.toggle-button:checked+.navigation-dropdown{display:flex}
.grid-container{grid-template-columns:1fr;width:100%}
.header_sec,.main-content{width:100%;padding:10px}
.header_sec a,.header_sec h1{font-size:20px}
.navigation_sec a{font-size:14px}
.container{margin-top:132vh;max-height:block}
}